@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkestBlue;
}

.heading {
  @apply text-center my-5 flex flex-col items-center justify-center;
  height: 15vh;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  width: 40vw;
  height: 40vw;
  max-height: 600px;
  max-width: 600px;
}

.img-container {
  @apply bg-darkestBlue border-2 border-solid border-gold flex items-center rounded-md;
  min-height: 100px;
  min-width: 100px;
  transition: 0.1s all ease-out;
  overflow: hidden;
}

.img-container:hover {
  box-shadow: 0 0 20px 0 #FFD60A;
}

.img-selected {
  /* filter: drop-shadow(0px 0px 10px #FFD60A); */
  box-shadow: 0 0 20px 0 #FFD60A;
}

.img-expand {
  @apply bg-yellow p-3 rounded-full z-10 absolute top-1.5 right-1.5 cursor-pointer;
}

.img-expand-instructions {
  @apply bg-yellow p-3 rounded-full z-10 cursor-pointer;
  width: 40px;
}

.instructions-list > li {
  @apply border-darkBlue border-b-2 mb-2 pb-2;
}

.correct {
  border-color: #6cff0a;
  filter: drop-shadow(0px 0px 5px #6cff0a);
}

.incorrect {
  border-color: #ff0a0a;
  filter: drop-shadow(0px 0px 5px #ff0a0a);
}

.buttons-container {
  @apply flex justify-between;
  width: 40vw;
  max-width: 600px;
}

.buttons-container > * {
  @apply text-darkestBlue px-10 py-2 rounded-sm mt-3;
  transition: 1s all ease-out;
}

.game-info {
  @apply flex justify-between items-end my-3;
  width: 40vw;
  max-width: 600px;
}

.instructions-container {
  @apply bg-darkestBlue shadow-xl flex absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 border-2 border-gold;
  box-shadow: 0 0 20px 0 #060019;
}

/* Final */

.score-container {
  @apply text-7xl border-4 border-yellow p-14 rounded-full
}

.home-btns {
  @apply px-10 py-2 rounded-sm mt-3;
  min-width: 181px;
  box-shadow: 0 0 0 #FFD60A;
  transition: 0.3s all ease;
}

.glow {
  animation: pulse 2.5s infinite;
}

.round-scores {
  @apply text-darkestBlue bg-yellow m-1 px-2 py-1 rounded-md inline-block text-center cursor-pointer;
  min-width: 30px;
}

.round-wrong {
  @apply text-yellow bg-darkBlue border-yellow;
  border-width: 1px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #FFD60A;
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px #000814;
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 #000814;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #FFD60A;
    box-shadow: 0 0 0 0 #FFD60A;
  }
  70% {
      -moz-box-shadow: 0 0 0 10px #000814;
      box-shadow: 0 0 0 10px #000814;
  }
  100% {
      -moz-box-shadow: 0 0 0 0 #000814;
      box-shadow: 0 0 0 0 #000814;
  }
}

/* If screen height < 768px */
@media screen and (max-width: 768px){
  .img-grid {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    width: 60vw;
    height: 100vw;
  }

  /* .img-container:hover {
    box-shadow:none;
  } */

  .buttons-container {
    width: 60vw;
    flex-direction: column;
  }

  .game-info {
    width: 60vw;
    flex-direction: row;
  }

.img-expand {
    top: 40%;
    @apply p-2;
  }

    /* .img-expand > img{
    height: 10px;
    width: 10px;
    max-width: none;
  } */
}

@media screen and (max-width: 480px) {
  .img-grid {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    width: 60vw;
    height: 100vw;
    min-height: 1000px;
  }

  .img-expand {
    @apply bg-yellow p-3 rounded-full z-10 absolute top-1.5 right-1.5 cursor-pointer;
  }
}